# Entorno
STAGE=dev

# Base de datos (para desarrollo local)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/participantes

# AWS (solo para Lambda)
DB_SECRET_ARN=
AWS_REGION=us-east-1

# Logging
LOG_LEVEL=INFO
POWERTOOLS_SERVICE_NAME=registro-participantes
POWERTOOLS_LOG_LEVEL=INFO
